body{
    background-color: #f5f5dc;
}

.zg{
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
}

.osnova{
    text-align: center;
}

.lolaa{
    text-align: center;
    width: 150px;
    height: 25px;
}