*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(227, 204, 184);
}
    
@media screen and (max-width: 1280px) { div.block-verx {width: 1200px;} }
@media screen and (max-width: 1140px) { div.box {width: 1024px;} }
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }


.block-verx{
    border: solid 5px #897665;
    background: url(../img/тфон.jpg);
    background-size: 100%;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;   
    height: 90px;
}
.box{
    display: inline-block;
    vertical-align: top;
    color: aliceblue;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 3px dashed black;
    background-color: rgb(189, 138, 19);
    padding: 3px;
    border-radius: 10px;
}

.box.box:hover{
    background: #890000;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.links{
    margin-left: 1200px;
    padding-top: 10px;
}

.links a{
    border: 2px solid black;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: #c5843f;
    text-decoration: none;
    color: white;
}

.links a:hover{
    background: #890000;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

