*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(227, 204, 184);
}
    

a{
    text-decoration: none;
}

.block-verx{
    border: solid 5px #897665;
    background: url(../img/тфон.jpg);
    background-size: 100%;
       
    border-bottom: 0;
}
.box{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
    
    
    padding: 3px;
    
}



.links{
    text-align: center;
    border: solid 5px #897665;
    background: url(../img/тфон.jpg);
    background-size: 100%;
    
    border-top: 0;
    padding: 10px;
}

.links a{
    border: 2px solid black;
    
    padding: 5px;
    border-radius: 10px;
    background-color: #c5843f;
    text-decoration: none;
    color: white;
}

.links a:hover{
    background: #890000;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

/* --------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.profile{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .profile:before,
  .profile:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .profile:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .profile:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

  .profile{
    border: 5px solid #897665;
    width: 250px;
    background-color: #897665;
    text-align: center;
    margin-left: 10px;

    
  }
  .profile span{
    color: aliceblue;
    border: #897665;
    
  }


  .profile span:hover {
    animation: myfirst 2s 1;
}
@keyframes myfirst
{
    0%      {background:rgb(85, 255, 0)(9, 255, 0);}
    25%     {background:green;}
    75%     {background:rgb(174, 174, 0);}
    100%    {background:rgb(15, 87, 18)(0, 255, 13);}
}


/* ------------------------ */
